# ============================================
# SERVIDOR
# ============================================
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# ============================================
# UPLOADS
# ============================================
UPLOAD_DIR="./uploads"

# ============================================
# BANCO DE DADOS (PostgreSQL)
# ============================================
# Exemplo de formato de conexão para o Prisma
DATABASE_URL="postgresql://postgres:sua_senha@localhost:5432/nome_do_banco?schema=public"

